<div class="container">
    <h3 class="mt-4 mb-3">Rejoignez-nous</h3>
</div>

<div class="container-fluid mb-3">
<div class="map-responsive">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10083.648843092475!2d4.3610374!3d50.8142652!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x67d7fe8663ba20b7!2sLemaco%20Motor%20sa!5e0!3m2!1sfr!2sbe!4v1615966434117!5m2!1sfr!2sbe"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<div>
