<div class="container">
    <div class="row">
        <div class="col-4 mb-3">
                <img class="img-fluid img-thumbnail float-left mb-3 mb-md-0" src="../../../../assets/DSC01861.jpg" alt="">
        </div>
        <div class="col mb-3">
            <div>

                <h3>LEMACO MOTOR</h3>
                <div class="valign-center mb-3">
                    <i class="material-icons md-24">home</i>
                    <span>Rue Vanderkindere 397<br />
                        1180 Bruxelles
                    </span>
                </div>

                <div class="valign-center mb-3">
                    <i class="material-icons md-24">phone</i>
                    <span><a href="tel:+32477608707">+32 (0)477.608.707</a></span>
                </div>
                <div class="valign-center mb-3">
                    <i class="material-icons md-24">alternate_email</i>
                    
                    <span><a href="mailto:info@lemaco.be">info@lemaco.be</a></span>
                </div>
                <div class="valign-center mb-3">
                    <i class="material-icons md-24 text-danger">warning</i>
                    
                    <span class="text-danger">UNIQUEMENT SUR RENDEZ-VOUS !</span>
                </div>
                

            </div>
        </div>

    </div>

</div>
