// .btn-outline-primary{
//     outline: 1px solid;
//     outline-color: #18391E;
//     color: #18391E;
// }

.green{
    outline: 1px solid;
    outline-color: #18391E;
    color: #18391E;
    border: 2rem;
}