<div class="container">

    <h1 class="mt-4 mb-3">
        Austin Healey à vendre
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a routerLink="#">
                <app-diapo></app-diapo>
            </a>
        </div>
        <div class="col-md-7">
            <h3>Austin Healey </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus maximus nisl quam, vel porta neque
                luctus a. Donec eget purus sit amet diam gravida bibendum in quis ipsum. Vivamus id magna sit amet ante
                ornare aliquam eu at odio. Duis facilisis ornare lorem sit amet eleifend. Aliquam placerat euismod
                accumsan. Suspendisse quis ex id dolor eleifend volutpat sit amet accumsan mauris. Vivamus in mollis
                eros. Etiam at nunc felis. Donec semper pharetra aliquet.
                Aenean nec nunc nisi. Aenean eget convallis ante. Pellentesque congue non est ac tincidunt.
                Cras at viverra odio. Phasellus posuere, ligula et viverra iaculis, est neque fermentum ex,
                quis semper mi mi sed dolor. Proin sit amet augue a neque accumsan ullamcorper eget in turpis.</p>

            <ul>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </li>
                <li>Curabitur congue eros sit amet ligula volutpat aliquet.
                </li>
                <li>Proin pretium ex id consectetur pellentesque.
                </li>
                <li>Donec in massa consectetur, ornare ex vel, vestibulum nisi.</li>
                <li>Praesent quis eros in diam iaculis suscipit.</li>
                <li>Nulla ac massa imperdiet, pretium nisl eget, tempus felis.</li>
            </ul>

            <h5>Intéressé ? </h5>
            <br />
            <a class="btn btn-primary" routerLink="/contact">Nous contacter</a>
        </div>
    </div>
    <hr>
</div>