.bg-green{
    background-color: #18391E;
}

.valign-center {
    vertical-align: middle;
    align-items: center;
    display: flex;
}

i{
    color: white;
    margin-right: 0.5em;
}

footer{
    color: white;
}

a{
    color: white;
}