<app-services-title></app-services-title>

<div class="container">
    <div class="row">
        <div class="col-md-7">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/mecanique.jpg" alt="pièces d'un moteur démonté qui représent la mécanique et l'électricité"
                title="Mécanique et Electricité">
        </div>
        <div class="col-md-4">
            <h3>Mécanique et Electricité</h3>
            <p>De l'entretien à la révision moteur en passant par la remise en état de tous les organes du véhicules.</p>
            <p>Spécialisé dans la mise au point et la fiabilisation et l'amélioration des performances. </p>
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3">
            <h3>Entretien</h3>
            <p>Le but d'un entretien est de prévenir les pannes et les dégradations futures de votre véhicule. <br/>
            Il ne s'agit donc pas de juste changer les lubrifiants et parfaire les niveaux. </p>
            
            <p>Nous apportons un soin tout particulier au contrôle et à la prévention lors de votre visite. </p>
        </div>
        <div class="col-md-7">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/entretien.jpg" alt="bouchon d'huile de moteur pour représenter l'entretien des oldtimers">
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-7">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/expertise.jpg" alt="Austin Healey avec le capot ouvert prête pour l'expertise chez Lemaco Motor">
        </div>
        <div class="col-md-4">
            <h3>Expertise</h3>
            <p>Les expertises et check-up se font exclusivement en nos ateliers.</p>
            <p>Possiblité d'expertiser la valeur du véhicule par expert agréé par les compagnies d'assurance.</p>
            <!-- <a class="btn btn-green" routerLink="/contact">Contactez-nous
            </a> -->
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3">
            <h3>Parking et Conciergerie</h3>
            <p>Nous proposons un service de parking sécurisé et de conciergerie pour votre voiture d'exception, en plein coeur de Uccle.</p>
            <p></p>
            <a class="btn btn-green" routerLink="/parking">En savoir plus
            </a>
        </div>
        <div class="col-md-7">
            <a routerLink="/parking" title="Parling et conciergerie">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/services_parking.jpg" alt="différentes voitures anglaises telles que MG-A et Jaguar MK9 en parking"
                title="Parking et conciergerie">
            </a>
        </div>
    </div>
    <hr>
</div>

<app-button-contact></app-button-contact>
