<div class="container">
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/ImgWalter/parking.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4">
            <h3>Austin Healey</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat quis leo sit amet pretium. Vestibulum quis hendrerit libero. 
                Mauris consequat, nibh quis ultrices placerat, lorem nunc rhoncus nulla, eu lobortis dolor dui in felis.</p>
            <a class="btn btn-primary" routerLink="/Austin">En savoir plus !
            </a>
        </div>
    </div>
    <hr>
</div>
