<div class="container">
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/ImgWalter/parking.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4">
            <h3>On <i class="bi bi-heart-fill"></i> votre voiture</h3>
            <p>Un lieu sécurisé au coeur de Uccle dédié aux véhicules anciens et d'exception </p>
            <p>Votre voiture sera accessible quand vous en avez envie (7/7 - 24/24) !</p>
            <p>En sécurité et à l'abri des intempéries, choyée par nos soins ! </p>
            <a class="btn btn-primary" routerLink="/contact">Contactez-nous
            </a>
        </div>
    </div>
    <hr>
</div>
