<div class="container">
    <div class="row">
        <div class="col-8">
            <h3>Un service sur mesure</h3>
            <p>Nous pouvons également vous proposer un service sur mesure pour votre véhicule : <br/>
            Housse de protection, niveaux et pression des pneus 1X/mois, prise pour chargeur de batterie, etc.</p>
            <p>N'hésitez pas à nous en parler ! </p>
            <div class="text-left">
                <a class="btn btn-primary" routerLink="/contact">Contactez-nous
                </a>
            </div>
        </div>
    </div>
    <hr />
</div>

<div class="container">
    <div class="row justify-content-end">
        <div class="col-8">
            <h3>Besoin de revoir la mécanique ? </h3>
            <p>Nous intervenons sur votre véhicule dès que c'est nécessaire !</p>
            <p>Mécanique, électricité, entretien et expertise </p>
            <div class="text-right">
                <a class="btn btn-primary" routerLink="/services">C'est notre métier...
                </a>
            </div>
        </div>
    </div>
    <hr />
</div>
