/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootswatch/dist/lux/variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootswatch/dist/lux/bootswatch';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

/* Material icons */ 
.material-icons { 
    font-family: 'Material Icons'; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 24px;  /* Preferred icon size */ 
    display: inline-block; 
    line-height: 1; 
    text-transform: none; 
    letter-spacing: normal; 
    word-wrap: normal; 
    white-space: nowrap; 
    direction: ltr; 
  
    /* Support for all WebKit browsers. */ 
    -webkit-font-smoothing: antialiased; 
  
    /* Support for Safari and Chrome. */ 
    text-rendering: optimizeLegibility; 
  
    /* Support for Firefox. */ 
    -moz-osx-font-smoothing: grayscale; 
   
    /* Support for IE. */ 
      font-feature-settings: 'liga'; 
  } 

  .material-icons.md-18{font-size: 18px;}
  .material-icons.md-24{font-size: 24px;}
  .material-icons.md-36{font-size: 36px;}
  .material-icons.md-48{font-size: 48px;}

  .material-icons.md-green{
      color: #18391E;
      cursor: pointer;
  }

  .material-icons.md-green:hover{
      color:rgb(88,41,0)
  }

//   boutons
.btn-primary{
    background-color: #18391E;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
